.quiz-container{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}
.question{
    color: #f890e7;
    font-size: 44px;
}
.answers-container{
    color:#0bd3d3;
    display: flex;
    font-size: 34px;
    cursor: pointer;
    margin-top: 10px;
}
.your-score{
    color:white;
    font-size: 44px; 
    margin-top: 150px; 
}
.score{
    color: #f890e7;
    font-size: 44px; 
    margin-top: 10px;

}

.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}